<h2>Register Here....</h2>

<form action="submit" #registerForm="ngForm">

    <div class="form-group">
        <mat-form-field class="col-md-6" appearance="standard">
            <input matInput name="email" [(ngModel)]="formData.email" type="text" class="form-control" #email="ngModel"
                placeholder="E-mail" required maxlength="50" />
        </mat-form-field>

    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger col-md-6">
        <div *ngIf="email.errors?.['required']">
            Email is required
        </div>
    </div>


    <div class="form-group">
        <mat-form-field class="col-md-6" appearance="standard">
            <input matInput name="password" [(ngModel)]="formData.password" type="password" class="form-control" #password="ngModel"
                placeholder="Password" required maxlength="50" />
        </mat-form-field>

    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger col-md-6">
        <div *ngIf="password.errors?.['required']">
            Password is required
        </div>
    </div>

    <div class="form-group">
        <mat-form-field class="col-md-6" appearance="standard">
            <input matInput name="confirmPassword" [(ngModel)]="formData.confirmPassword" type="password" class="form-control" #confirmPassword="ngModel"
                placeholder="Password" required maxlength="50" />
        </mat-form-field>

    </div>
    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger col-md-6">
        <div *ngIf="confirmPassword.errors?.['required']">
            Password is required
        </div>
    </div>


        <button type="submit" [disabled]=!registerForm.valid (click)="register()">Submit</button>
</form>